<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/signup.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>

    <title>Expense Manager | SignUp</title>
</head>

<body>
    <div class="outerContainer">
        <div class="container">
            <h1 class="heading">EXPENSE MANAGER</h1>
            <form action="signup" method="post" class="signup">
                <div>
                    <label class="text">First Name</label>
                    <input type="text" name="firstname" placeholder="First Name" class="input" minlength="3"
                        pattern="[a-zA-z]*" required>
                </div>

                <div>
                    <label class="text">Last Name</label>
                    <input type="text" name="lastname" placeholder="Last Name" class="input" minlength="3"
                        pattern="[a-zA-z]*" required>
                </div>

                <nav>
                    <label class="text" style="margin-right: 5.5rem;">Email:</label> <input class="input" type="email"
                        name="email" required placeholder="Email" minlength="12">
                </nav>
                <div>
                    <label class="text" style="margin-right: .8rem;">Password:</label> <input class="input"
                        type="password" name="password" class="input_pass" required placeholder="Password"
                        minlength="8">
                </div>
                <div>
                    <label class="text">Confirm <br> Password: </label>
                    <input type="password" class="input" class="input_pass" name="confirmpassword" minlength="8"
                        placeholder="Confirm Password" required>
                </div>
                {{>error_message}}
                <input type="submit" value="SignUp" class="btn">
            </form>
            <a href="/login" class="link">Already a user - Login </a>
        </div>

    </div>

</body>

</html>