<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="./css/updatePassword.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>

	<title>Expense Manger | Change Password</title>
</head>

<body>
	<div class="outerContainer">
		<div class="container">
			<h1 class="heading style1">
				HII!!!
				{{firstname}}</h1>
			<h1 class="heading">CHANGE YOUR PASSWORD!!!</h1>
			<form action="updatePassword" method="post" class="password">
				<div>
					<label class="text" style="margin-right: 4.8rem;">First
						Name:</label> <input class="input" type="text" name="firstname" required placeholder="FirstName"
						pattern="[a-zA-Z]*">
				</div>

				<nav>
					<label class="text" style="margin-right: 10.7rem;">Email:</label> <input class="input" type="email"
						name="email" required="required" placeholder="Email">
				</nav>

				<div>
					<label class="text" style="margin-right: 1.3rem;">Old
						Password:</label> <input class="input" class="input_pass" type="password" name="oldpassword"
						required placeholder="OldPassword">
				</div>

				<div>
					<label class="text">New Password:</label> <input class="input" class="input_pass" type="password"
						name="newpassword" required minlength="8" pattern="[a-zA-Z0-9@#$.]*" placeholder="NewPassword">
				</div>
				{{>error_message}}
				<button class="btn">Change Password</button>
			</form>
		</div>
		<div class="outcontainer">
			<div class="logtext">
				Please Logout After Changing The Password<br> And Again Login
				With New Credentials....
			</div>
			<form action="logout" method="post" class="">
				<input type="submit" value="Logout " class="btn">
			</form>
		</div>
	</div>
</body>

</html>