<!DOCTYPE html>
<html>

<head>
	{{>head}}

	<link rel="stylesheet" href="./css/update.css">
	<title>Expense Manger | Manage Data</title>
</head>

<body>
	<div class="outerContainer">
		<div class="container">
			<h1 class="heading style1">
				HII !!!
				{{firstname}}
			</h1>
			<h1 class="heading">UPDATE YOUR DATA</h1>

			<a href="updatePassword" class="link">CHANGE PASSWORD</a>
			<a href="updateName" class="link">CHANGE NAME</a>
			<a href="updateData" class="link">UPDATE DATA</a>
		</div>
	</div>

</body>

</html>