<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="./css/update.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>

	<title>Expense Manger | Manage Data</title>
</head>

<body>
	<div class="outerContainer">
		<div class="container">
			<h1 class="heading style1">
				HII !!!
				{{firstname}}
			</h1>
			<h1 class="heading">UPDATE YOUR DATA</h1>

			<a href="updatePassword" class="link">CHANGE PASSWORD</a> <a href="updateName" class="link">CHANGE NAME</a>
			<a href="updateData" class="link">UPDATE DATA</a>
		</div>
	</div>

</body>

</html>