<!DOCTYPE html>
<html>

<head>
  {{>head}}

  <link rel="stylesheet" href="./css/welcome.css">
  <title>Expense Manager | Welcome!!!</title>
</head>

<body>
  <div class="outerContainer">
    <div class="container">
      <h1 class="heading style1">
        HII !!!
        {{firstname}}
      </h1>
      <h1 class="heading">WELCOME IN EXPENSE MANAGER!!!</h1>

      <a href="/insert" class="link">Insert Data</a>
      <a href="/update" class="link">Update Data</a>
      <a href="fetchuser.html" class="link">Fetch User</a>
      {{>error_message}}
      <a href="totalexpense.html" class="link">Total Expense</a>
    </div>
    <form action="logout" method="post" class="form">
      <input type="submit" value="Logout " class="btn">
    </form>
  </div>

</body>

</html>