
<head>
<style>
    .result {
    align-self: center;
    color: red;
    font-size: 2.2rem;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
}
</style>
</head>
<body>
    <h1 class="result">{{message}}</h1>
</body>
