html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.outerContainer {
    background-image: radial-gradient(circle, #1C86EE, #00CD66, #00B2EE);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading {
    color: white;
    font-size: 3.2rem;
    text-align: center;
    letter-spacing: 2px;
}

.heading:hover {
    transform: scale(1.2);
}

.style1 {
    text-transform: uppercase;
    font-style: italic;
    color: #9B30FF;
}

.container {
    background-image: linear-gradient(to right bottom, #8470FF, #00FF00);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2rem 4rem #777777;
}

.text {
    font-size: 2.5rem;
    font-weight: 200;
    font-family: sans-serif;
    color: white;
}

.link,
.link:visited {
    color: #7D26CD;
    font-size: 2.2rem;
    align-self: center;
}

.link:hover {
    color: #00FF7F;
    transform: scale(1.2);
    transition: transform .8s ease-out;
}

.input {
    margin: 1rem 1.5rem;
    padding: 1rem 3rem;
    font-size: 2.2rem;
    text-transform: capitalize;
}

.input:focus {
    background-color: #eeeeee;
    border: 1px solid cyan;
}

.password {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 1rem 3rem;
    margin: 2rem;
    align-self: center;
    font-size: 2.5rem;
    border-radius: 100px;
    background-image: linear-gradient(to right bottom, #00F5FF, #8470FF);
    color: beige;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
    background-image: linear-gradient(to left top, #00F5FF, #8470FF);
}

.outcontainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#8470FF, #00FF00);
    padding: 2rem;
    margin: 2rem;
    justify-content: space-between;
    align-items: center;
}

.logtext {
    font-size: 2.5rem;
    color: beige;
    text-transform: capitalize;
    text-align: center;
    font-style: italic;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    display: block;
}

@media screen and (max-width:550px) {
    html {
        font-size: 56.5%;
    }
    .heading {
        font-size: 2.6rem;
        letter-spacing: 1.5px;
    }
    .outerContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}